.rocketContainer {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 20px;
  gap: 30px;
}

button {
  background: #047bfe;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 30px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
